body{

	margin: 0px;
	padding: 0px;
	display: flex;
	background: url("../Imagenes/arcoiris.png");
	overflow: hidden;
	background-repeat: no-repeat;
	}


.conten{
	margin-top: 400px;
	margin-left: 800px;
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 6;
	-webkit-perspective: 700;
}

.logo {
	height: 100%;
	width: 100%;
	position: relative;
	transform-style: preserve-3d;
	animation: logo 10s infinite alternate;
}



@keyframes logo {
	from{transform: rotateY(0deg);} 
	  to{ transform: rotateY(360deg);}
				}


.lado {
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	position: absolute;
}

.alante {
}

.atras {
	transform: rotateY(180deg);
}

img {

	height: 100%;
	width:100%;
}



.loader-frame{	
		top:50%;
		width:100%;		
		height:50%;
		margin-top:-150px;
		padding:5px;
		position:absolute;
		display: flex;

		
}


.loader1 , .loader2 , .loader3, .loader4, .loader5 , .loader6 , .loader7 {	
		top:50%;
		left:25%;
		padding:1px;
		position: absolute;
		border:5px solid transparent;
		border-radius: 50%;	
		cursor: pointer;
		
}
div.loader1 {
		width:880px;
		margin-left:-190px;
		height:880px;
		margin-top:-300px;
		border-left: 5px solid #FF0000;
		border-top:  5px solid #FF0000;
		border-right: 5px solid #FF0000;
		animation-name: primero;
   		animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}

div.loader2 {
		width:870px;
		margin-left:-185px;
		height:870px;
		margin-top:-295px;
		border-left: 5px solid #FF00FF;
		border-top:  5px solid #FF00FF;
		border-right: 5px solid #FF00FF;
		animation-name: segundo;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
    }

div.loader3 {
		width:860px;
		margin-left:-180px;
		height:860px;
		margin-top:-290px;	
		border-left: 5px solid #1A00FF;
		border-top:  5px solid #1A00FF;
		border-right: 5px solid #1A00FF;
		animation-name: tercero;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}

div.loader4 {
		width:850px;
		margin-left:-175px;
		height:850px;
		margin-top:-285px;	
		border-left: 5px solid #00F7FF;
		border-top:  5px solid #00F7FF;
		border-right: 5px solid #00F7FF;
		animation-name: cuarto;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}

div.loader5 {
		width:840px;
		margin-left:-170px;
		height:840px;
		margin-top:-280px;	
		border-left: 5px solid #09FF00;
		border-top:  5px solid #09FF00;
		border-right: 5px solid #09FF00;
		animation-name: quinto;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}

div.loader6 {
		width:830px;
		margin-left:-165px;
		height:830px;
		margin-top:-275px;	
		border-left: 5px solid #FFFF00;
		border-top:  5px solid #FFFF00;
		border-right: 5px solid #FFFF00;
		animation-name: sexto;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}


div.loader7 {
		width:835px;
		margin-left:-165px;
		height:835px;
		margin-top:-270px;	
		border-left: 5px solid #FF9100;
		border-top:  5px solid #FF9100;
		border-right: 5px solid #FF9100;
		animation-name: septimo;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	cursor: pointer;
}


@-webkit-keyframes primero {
    0%   {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    15%  {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    25%  {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    50%  {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    75%  {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    90%  {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    100% {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
}

@-webkit-keyframes segundo {
    0%   {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    15%  {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    25%  {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    50%  {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    75%  {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    90%  {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    100% {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
}

@-webkit-keyframes tercero {
    0%   {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    15%  {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    25%  {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    50%  {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    75%  {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    90%  {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    100% {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
}

@-webkit-keyframes cuarto {
    0%   {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    15%  {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    25%  {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    50%  {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    75%  {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    90%  {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    100% {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
}

@-webkit-keyframes quinto {
    0%   {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    15%  {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    25%  {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    50%  {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    75%  {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    90%  {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    100% {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
}


@-webkit-keyframes sexto {
    0%   {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
    15%  {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    25%  {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    50%  {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    75%  {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    90%  {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    100% {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
}


@-webkit-keyframes septimo {
    0%   {border-left: 5px solid #9900CC; border-top:  5px solid #9900CC; border-right: 5px solid #9900CC; }
    15%  {border-left: 5px solid #Ff0000; border-top:  5px solid #Ff0000; border-right: 5px solid #Ff0000; }
    25%  {border-left: 5px solid #FFFF00; border-top:  5px solid #FFFF00; border-right: 5px solid #FFFF00; }
    50%  {border-left: 5px solid #00FF00; border-top:  5px solid #00FF00; border-right: 5px solid #00FF00; }
    75%  {border-left: 5px solid #0000FF; border-top:  5px solid #0000FF; border-right: 5px solid #0000FF; }
    90%  {border-left: 5px solid #00FFFF; border-top:  5px solid #00FFFF; border-right: 5px solid #00FFFF; }
    100% {border-left: 5px solid #Ff6600; border-top:  5px solid #Ff6600; border-right: 5px solid #Ff6600; }
}


.menu_bar {
	width: 100%;
	background: #024959;
	transition: 1s;
	z-index: 3;
	position: absolute;
	
}
.otra{
	margin-top: 8%;
	width: 80%;	
	margin-left: 25.9%;
	transition: 1s;
	z-index: 3;
	position: absolute;
}

.icon-cross{
	color:red;
}
.bt-menu {
	padding: 20px;
	color: white;	
	font-size: 25px;
	text-decoration:none;
	background: #024959;
	border-radius: 50%;
	display: flex;
	z-index: 3;
	position: absolute;
}

.bt-menu:hover {
	background: rgba(255,255,255, .3);
}



nav {		
		margin-top: 8%; 
		width: 31%;
		position: fixed;
		right: 100%;
		border-radius: 0px 5px 5px 0px;
		background: #024959;
		z-index: 2;	
	}

	nav ul {
		padding: 0px;
		margin: 20px;
	}

nav li {
		flex-grow: 1;
	}

nav ul li {
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(255,255,255, .6);	

	}

nav ul li:hover {
	
		background: rgba(255,255,255, .3);
		border-radius: 5px;
}

nav ul li span {

	margin-right: 10px;
	}

nav ul li a{

		color: #FFFFFF;
		text-decoration: none;
		padding: 20px;
		display: block;
		text-shadow: 3px 3px 3px #000000;
		font-size: 20px;
	}


.fondo1 {

		margin: 0px auto;
		background-image:url('../Imagenes/fondo1.png');	
		margin-top: 13%;
		width: 100%;
		height: 100%;
		background-size: 100% 80%;
		position: absolute;
		transform-origin: bottom center;
		background-repeat: no-repeat;

}

.sol {
margin-top: -500px;
width: 50%;
height: 90%;
background-size: 100% 100%;
background-image: url("../Imagenes/sol.png");
position: absolute;
animation: sol 30s infinite;
z-index: -1;

}
@keyframes sol {
	from{margin-top: 10%;
		margin-left:0%; 
		

		} 
	to{ margin-top: -100%;
		margin-left: 200%; 
	}  
				}

.mariposa {
		margin-top: 250px;
		margin-left: 125px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/mariposa.gif");
		position: absolute;
		
		
}


.arbol {
		margin-top: 250px;
		margin-left: 125px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/arbol.png");
		position: absolute;
		animation: arbol 30s infinite; 
		animation-direction: alternate;
		cursor: pointer;
		
}

@keyframes arbol {
 				 from { transform: scale(1);}
    			 to {transform: scale(1.5); }
				}

.mariposa1 {
		margin-top: 250px;
		margin-left: 850px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/mariposa.gif");
		position: absolute;
}

.arbol1 {
		margin-top: 250px;
		margin-left: 850px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/arbol1.png");
		position: absolute;
		animation: arbol1 30s infinite;
		animation-direction: alternate;
		cursor: pointer;
		
}

@keyframes arbol1 {
 				 from { transform: scale(1.5);}
    			 to {transform: scale(1); }
				}

.caballo {
		margin-top: 430px;
		margin-left: 950px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/caballo.gif");
		position: absolute;
		cursor: pointer;
}

.caballo1 {
		margin-top: 430px;
		margin-left: 150px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/caballo1.gif");
		position: absolute;
		cursor: pointer;
}

.ninos {
		margin-top: 430px;
		margin-left: 450px;
		width: 10%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/ninos.gif");
		position: absolute;
}

.autobus {

		margin-top: 40%;
		width: 25%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/autobus.png");
		position: absolute;
		background-repeat: no-repeat;
		animation: autobus 20s infinite;
		cursor: pointer;
		z-index: 6;
}

@keyframes autobus {
	from{margin-left: 100%;} 
	to{ margin-left: -40%;}  
				}

.avion {
		margin-left: 100%;
		margin-top: 40%;
		width: 25%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/avion.png");
		position: absolute;
		background-repeat: no-repeat;
		-webkit-animation: avion 20s linear 5s infinite;
		cursor: pointer;
		z-index: 1;
}

@keyframes avion {
	from{margin-left: 100%;}

	to{ margin-left:  -100%; margin-top: -40%;}  
				}

.avion1 {
		margin-left: -40%;
		margin-top: 10%;
		width: 25%;
		height: 20%;
		background-size: 100% 100%;
		background-image: url("../Imagenes/avion1.png");
		position: absolute;
		background-repeat: no-repeat;
		animation:  avion_uno 15s infinite;
		-webkit-animation-delay: 5s;
		cursor: pointer;
		z-index: 1;
}

@keyframes avion_uno {
	from{margin-left: -40%;} 
	to{ margin-left: 100%;}  
				}



.nube {

width: 15%;
height: 8%;
background-size: 100% 100%;
position: absolute;

}

.nube:nth-child(1){

background-image:	 url("../Imagenes/nube1.png");
animation: nube1 20s infinite;
}


.nube:nth-child(2){
margin-top: 100px;
background-image: url("../Imagenes/nube2.png");
animation: nube2 30s infinite;
}

.nube:nth-child(3){
margin-top: 200px;
background-image: url("../Imagenes/nube3.png");
animation: nube3 25s infinite;
}

.nube:nth-child(4){
width: 350px;
height: 200px;
margin-top: 10px;
background-image: url("../Imagenes/nube4.png");
animation: nube4 40s infinite;
}

@keyframes nube1 {
	from{margin-left: 100%;} 
	to{ margin-left: -30%;}  
				}

@keyframes nube2 {
	from{margin-left: -30%;} 
	to{ margin-left: 100%;}  
				}	

@keyframes nube3 {
	from{margin-left: 100%;} 
	to{ margin-left: -30%;}  
				}

@keyframes nube4 {
	from{margin-left: -30%;} 
	to{ margin-left: 100%;}  
				}

	
/*.nube{
	
  	animation-duration: 3s;
  	animation-name: slidein;
  	}


@keyframes slidein {
  from {
    margin-left: 100%;
 
  }

  to {
    margin-left: -30%;
  
  }
}*/


@media screen and (max-width: 800px){

body{

	height: 100%;
	width: 100%;
	background: url("../Imagenes/fondo2.png");
	overflow: hidden;
	}

.menu_bar {	

	margin-left: 91%;	
	background: #024959;
	transition: 1s;
	z-index: 6;
}

.otra{

	margin-top: 20%;
	margin-left: 75%;
	transition: 1s;
	z-index: 20;
	position: absolute;

}
.menu_bar .bt-menu {

	
	padding: 20px;
	color: #FFFFFF;	
	overflow: hidden;
	font-size: 25px;
	text-decoration:none;
	background: #024959;

}

nav {
		top:30px; 
		width: 80%;
		position: fixed;
		right: 100%;
		margin: 0px;
		background: #024959;
		z-index: 7;		
	}

nav ul {

		margin: 20px;
		padding: 0px;

	}
 nav ul li {
 		width: 100%;
		display: inline-block;
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .6);
	}

nav ul li:hover {	
		width: 100%;
		background: rgba(255,255,255, 0.3);
}

nav ul li span {
		width: 100%;
		margin-right: 10px;
	}

nav ul li a{
		width: 100%;
		color: #FFFFFF;
		text-decoration: none;
		padding: 20px;
		display: block;
	}


.autobus {
		margin-top: 43%;
}	

.arbol1 {
		margin-top: 150px;
		margin-left: 420px;
		width: 10%;
		height: 20%;
	}

.mariposa1{
		margin-top: 150px;
		margin-left: 420px;
		width: 10%;
		height: 20%;
	}	
	
.arbol {
		margin-top: 150px;
		margin-left: 125px;
		width: 10%;
		height: 20%;
	}
.mariposa {
		margin-top: 150px;
		margin-left: 125px;
		width: 10%;
		height: 20%;
	}


.caballo {
		margin-top: 250px;
		margin-left: 125px;
		width: 10%;
		height: 20%;
	}

.caballo1 {
		margin-top: 250px;
		margin-left: 625px;
		width: 10%;
		height: 20%;
	}

.ninos {
		margin-top: 250px;
		margin-left: 225px;
		width: 10%;
		height: 20%;
	}

.conten {
		margin-top: 250px;
		margin-left: 425px;
		width: 10%;
		height: 20%;
	}

div.loader1 {
		width:380px;
		margin-left: -70px;
		height:380px;
		margin-top:-150px;
}
div.loader2 {
		width:370px;
		margin-left: -65px;
		height:370px;
		margin-top:-145px;
}

div.loader3 {
		width:360px;
		margin-left: -60px;
		height:360px;
		margin-top:-140px;
}

div.loader4 {
		width:350px;
		margin-left: -55px;
		height:350px;
		margin-top:-135px;
}

div.loader5 {
		width:340px;
		margin-left: -50px;
		height:340px;
		margin-top:-130px;
}
div.loader6 {
		width:330px;
		margin-left: -45px;
		height:330px;
		margin-top:-125px;
}

div.loader7 {
		width:320px;
		margin-left: -40px;
		height:320px;
		margin-top:-120px;
}

}

@media screen and (max-width: 450px){

body{

	height: 100%;
	width: 100%;
	background: url("../Imagenes/fondo2.png");
	overflow: hidden;
	}

.menu_bar {	

	margin-left: 81%;	
	background: #024959;
	transition: 1s;
	z-index: 6;
}

.otra{

	margin-top: 30%;
	margin-left: 70%;
	transition: 1s;
	z-index: 20;
	position: absolute;

}
.menu_bar .bt-menu {

	
	padding: 20px;
	color: #FFFFFF;	
	overflow: hidden;
	font-size: 25px;
	text-decoration:none;
	background: #024959;

}

nav {
		top:30px; 
		width: 80%;
		position: fixed;
		right: 100%;
		margin: 0px;
		background: #024959;
		z-index: 7;		
	}

nav ul {

		margin: 20px;
		padding: 0px;

	}
 nav ul li {
 		width: 100%;
		display: inline-block;
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .6);
	}

nav ul li:hover {	
		width: 100%;
		background: rgba(255,255,255, 0.3);
}

nav ul li span {
		width: 100%;
		margin-right: 10px;
	}

nav ul li a{
		width: 100%;
		color: #FFFFFF;
		text-decoration: none;
		padding: 20px;
		display: block;
	}


.autobus {
		width: 40%;
		height: 10%;
		margin-top: 145%;
}	


.fondo1 {

		margin: 0px auto;
		background: url("../Imagenes/fondo3.png");		
		margin-top: 30%;
		width: 100%;
		height: 100%;
		background-size: 100% 80%;
		position: absolute;
		transform-origin: bottom center;
		background-repeat: no-repeat;

}

.arbol1 {
		margin-top: 420px;
		margin-left: 290px;
		width: 10%;
		height: 10%;
	}

.mariposa1 {
		margin-top: 420px;
		margin-left: 290px;
		width: 10%;
		height: 10%;
	}


.arbol {
		margin-top: 420px;
		margin-left: 50px;
		width: 10%;
		height: 10%;
	}

.mariposa {
		margin-top: 420px;
		margin-left: 50px;
		width: 10%;
		height: 10%;
	}

.sol {
	
		width: 70%;
		height: 70%;
		animation: sol 30s infinite;
	}

	@keyframes sol {
	from{margin-top: 70%;
		margin-left:-10%; 
		

		} 
	to{ margin-top: -400%;
		margin-left: 300%; 
	}  
				
				}

.nube {
		width: 10%;
		height: 5%;
	}


.avion1 {
		margin-left: -80%;
		margin-top: 50%;
		width: 60%;
		height: 20%;
	}


.caballo {
		margin-top: 470px;
		margin-left: 50px;
		width: 10%;
		height: 10%;
	}

.caballo1 {
		margin-top: 400px;
		margin-left: 20px;
		width: 5%;
		height: 5%;
	}

.ninos {
		margin-top: 550px;
		margin-left: 250px;
		width: 10%;
		height: 10%;
	}

.conten {
		margin-top: 450px;
		margin-left: 350px;
		width: 10%;
		height: 5%;
	}

div.loader1 {
		width:380px;
		margin-left: -70px;
		height:380px;
		margin-top:-150px;
}
div.loader2 {
		width:370px;
		margin-left: -65px;
		height:370px;
		margin-top:-145px;
}

div.loader3 {
		width:360px;
		margin-left: -60px;
		height:360px;
		margin-top:-140px;
}

div.loader4 {
		width:350px;
		margin-left: -55px;
		height:350px;
		margin-top:-135px;
}

div.loader5 {
		width:340px;
		margin-left: -50px;
		height:340px;
		margin-top:-130px;
}
div.loader6 {
		width:330px;
		margin-left: -45px;
		height:330px;
		margin-top:-125px;
}

div.loader7 {
		width:320px;
		margin-left: -40px;
		height:320px;
		margin-top:-120px;
}
}