*{
	box-sizing: border-box;
}

body {
	margin: 0; 
	background: url(imagenes/escolar.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:0px 0px;  
}

.contenedor {
	
	width: 50%;
	margin:  0 auto;
	padding: 20%;
	background-repeat: repeat;
	background-position:0px 0px; 
	
}

h1 {

	margin: 3%;
	color: #000000;
	text-align: center;
	text-shadow: 3px 3px 3px #FFFFFF;
	font-family: verdana, helvetica, sans-serif;
}



.parametros {
	width:400px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top, #38594B, #38594B); /* gris*/
	border: 5px solid #F4AE4B;	
	border-radius: 5px;
	box-shadow: 3px 3px 3px #000000;
	
}

h2 {
	color: #FFFFFF;
	margin: 30px;
	text-align: center;
	text-shadow: 3px 3px 3px #000000;
}

.vocales {

   	width: 20%;
	margin: auto;
}



.Aa, .Ee, .Ii, .Oo, .Uu {

	color: #FFFFFF;
	font-size: 10em;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	text-shadow: 3px 3px 3px #000000;
	box-shadow: 3px 3px 3px #000000;
	cursor: pointer;
	border-radius: 10px;
	font-family: Arial, helvetica, sans-serif;
	
}

.Ii{
padding:0px 30px 0px 30px;
}


.Aa{
	background: -webkit-linear-gradient(top, #0000FF, #000080); /*azul*/
	background: -moz-linear-gradient(top, #0000FF, #000080);
	background: linear-gradient(top, #0000FF, #000080);
	}

	.Aa:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);	
			}			
.Ee {

	background: -webkit-linear-gradient(top, #00FF00, #008000); /*Verde*/
	background: -moz-linear-gradient(top, #00FF00, #008000);
	background: linear-gradient(top, #00FF00, #008000);
	}


	.Ee:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			}

		
.Ii {

	background: -webkit-linear-gradient(top, #FFFF00, #D4AC0D); /*Amarillo*/
	background: -moz-linear-gradient(top, #e1400a, #b83309);
	background: linear-gradient(top, #e1400a, #b83309);
	
		}


	.Ii:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			}

		
.Oo {

	
	background: -webkit-linear-gradient(top, #FF0000, #800000); /*Rojo*/
	background: -moz-linear-gradient(top, #FF0000, #800000);
	background: linear-gradient(top, #FF0000, #800000);
	
	}

	.Oo:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF); 
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			} 
.Uu {

	
	background: -webkit-linear-gradient(top, #FF00FF, #800080); /*Purpura*/
	background: -moz-linear-gradient(top, #FF00FF, #800080);
	background: linear-gradient(top, #FF00FF, #800080);

	}

	.Uu:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: linear-gradient(top, #FFFFFF, #FFFFFF);
			} 	

.Aa:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							} 

.Ee:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							} 

.Ii:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							} 
							
.Oo:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							} 
.Uu:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							} 
/*boton tipo celular*/


.menu-bar{

width: 60px;
margin: 0 10px;
align-items: center;
cursor: pointer;
}

.uno, .dos, .tres {

	width: 100%;
	background: white;
	height: 10px;
	transition: all 0.5s;
}

.dos{

	margin: 5px 0;
}

/*Animacion del boton de celular */


.mostrar .uno {

	transform: rotate(45deg) translate(15px, 10px);
	background: red;
}
.mostrar .dos{

	opacity: 0;	
}
.mostrar .tres {

	transform: rotate(-45deg) translate(9px,  -7px);
	background: red;
}	


.mostrar .menu{

visibility: visible;
opacity: 1;

}


.main-nav {
	
	background: none;
	height: 100px;
	margin-right: 20px; 
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu {

	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	opacity: 0;
	visibility: hidden;
}

.menu__item {

	margin: 0 15px;
	margin-left:10px; 
}

.menu__link{
	padding-left: 10px;
	margin-left:10px; 
	color: white;
}







