*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  	}

body {

	width: 100%;
	height: auto;
	margin: 0; 
	font-family: sans-serif;
	background: url("imagenes/fondo.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	}

.todo{
	width: 90%;
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
	}


header {

	width: 100%;

}

header nav {

	width: 95%;
	z-index: 1000:
	max-width: 1000px;
	margin: 0 auto;
	background: #024959;
}

.menu_bar {

	display: none;
}

#sonido{
	color: #FFFFFF;
	text-decoration: none;
	display: none;
	font-size: 1em;

}



.logo .loco {

	
	padding: 20px;
	color: #FFFFFF;
	
	text-decoration:none;
	font-weight: bold;
	font-size: 25px;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}


.logo span {
	
	font-size: 40px;


}



header nav ul {

	overflow:hidden;
	list-style: none;

}

header nav ul li {

		display: inline-block;
		position: relative;


}

header nav ul li a {

	color: #FFFFFF;
	padding: 20px;
	display:block; 
	text-decoration: none;

}
header nav ul li samp {

	margin-right: 10px;
}

header nav ul li:hover {
	
	background: rgba(255,255,255, 0.3);

}

@media screen and (max-width: 800px){


	header nav {

		width: 80%;
		height: cal(100% -80%);
		left: -100%;
		margin: 0px;
		position: fixed;
		overflow: scroll;
	}
	header nav ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .6);

	}

 

.menu_bar {

	display: block;
	width: 100%;
	background: #ccc;

}

.menu_bar .bt-menu {

	display: block;
	padding: 20px;
	background: #024959;
	color: #FFFFFF;
	overflow: hidden;
	text-decoration:none;
	font-weight: bold;
	font-size: 25px;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}


.menu_bar samp {
	float: right;
	font-size: 40px;


}
}







/* {
	
  	animation-duration: 3s;
  	animation-name: slidein;
  	}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 0%
  }

  to {
    margin-left: 0%;
    width: 0%;
  }
}*/



h1 {

	margin: 3%;
	color: #000000;
	text-align: center;
	text-shadow: 3px 3px 3px #FFFFFF;
	font-family:  150% sans-serif;
	}

.button {
	
	width: 10%;
	color: #FFFFFF;
	font-size: 5em;	
	text-shadow: 3px 3px 3px #000000;
	box-shadow: 3px 3px 3px #000000;
	cursor: pointer;
	border-radius: 10px;
	font-family: Arial, helvetica, sans-serif;
	background: -webkit-linear-gradient(top, #0000FF, #000080); /*azul*/
	background: -moz-linear-gradient(top, #0000FF, #000080);
	background: linear-gradient(top, #0000FF, #000080);
	}
  
  .button:hover
  {				
  				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
				
				
  }

/*.parametros {
	width:400px;
	margin-top: -1280px;
	margin-bottom: 100px;
	margin-left: 500px;
	background: -webkit-linear-gradient(top, #38594B, #38594B); 
	border: 5px solid #F4AE4B;	
	border-radius: 5px;
	box-shadow: 3px 3px 3px #000000;}*/

.parametros {
	width: 90%;
	height: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
	background: -webkit-linear-gradient(top, #38594B, #38594B); /* gris*/
	border: 5px solid #F4AE4B;	
	border-radius: 5px;
	box-shadow: 3px 3px 3px #000000;	
	}

/*.formulario{

			width: 950px;
			max-width: 100%;
			margin: auto;
			margin-top: 50px;
			padding: 20px;
			box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);}*/

h2 {
	color: #FFFFFF;
	margin: 30px;
	text-align: center;
	text-shadow: 3px 3px 3px #000000;
	}

img.icon{

	display: block;
	margin: 10px auto;
	background-color: rgba(255,255,255,.1);
	width: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow:0px 0px 0px 50px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
	}

li.contenedor:hover img.icon{

	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);}

.vocales {

   	width: 80%;
   	margin: 0 auto; 
   	margin-bottom: 2px;
   	margin-top: 50px;
	max-width: 150px;
	overflow: hidden;
	}

.Aa, .Ee, .Ii, .Oo, .Uu  {

	cursor: pointer;
	color: #FFFFFF;
	font-size: 10em;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 22px;
	padding: 5px;
	text-shadow: 3px 3px 3px #000000;
	box-shadow: 3px 3px 3px #000000;
	border-radius: 10px;
	font-family: Arial, helvetica, sans-serif;
	}

.Ii {
		padding:0px 30px 0px 30px;
}

.Aa {
	background: -webkit-linear-gradient(top, #0000FF, #000080); /*azul*/
	background: -moz-linear-gradient(top, #0000FF, #000080);
	background: linear-gradient(top, #0000FF, #000080);
	}

	.Aa:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);	
			}			
.Ee {

	background: -webkit-linear-gradient(top, #00FF00, #008000); /*Verde*/
	background: -moz-linear-gradient(top, #00FF00, #008000);
	background: linear-gradient(top, #00FF00, #008000);
	}


	.Ee:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			}		
.Ii {

	background: -webkit-linear-gradient(top, #FFFF00, #D4AC0D); /*Amarillo*/
	background: -moz-linear-gradient(top, #e1400a, #b83309);
	background: linear-gradient(top, #e1400a, #b83309);
	}


	.Ii:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			}
.Oo {

	
	background: -webkit-linear-gradient(top, #FF0000, #800000); /*Rojo*/
	background: -moz-linear-gradient(top, #FF0000, #800000);
	background: linear-gradient(top, #FF0000, #800000);
	
	}

	.Oo:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF); 
				background: -moz-linear-gradient(top, #b83309, #e1400a);
				background: linear-gradient(top, #b83309, #e1400a);
			} 
.Uu {

	
	background: -webkit-linear-gradient(top, #FF00FF, #800080); /*Purpura*/
	background: -moz-linear-gradient(top, #FF00FF, #800080);
	background: linear-gradient(top, #FF00FF, #800080);
	}

	.Uu:active {

				background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
				background: linear-gradient(top, #FFFFFF, #FFFFFF);
			} 	
.Aa:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							    }  
.Ee:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							    } 
.Ii:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							    } 							
.Oo:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							    } 
.Uu:hover	{	
								box-shadow: 5px 5px 5px #000000;
								border-radius: 20px;
							    } 



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7ttcj9');
  src:  url('fonts/icomoon.eot?7ttcj9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7ttcj9') format('truetype'),
    url('fonts/icomoon.woff?7ttcj9') format('woff'),
    url('fonts/icomoon.svg?7ttcj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paint-format:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-spell-check:before {
  content: "\ea12";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}

